@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap');
$main_red: #AB4967;

.container {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 10px;
    background-color: $main_red;
    color: white;
    font-family: 'Inter', sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
}

.container h3, .disabled h3 {
    width: 80%;
    font-size: 1.2rem;
    text-align: center;
}

.container:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}

.container:active, .container:focus {
    transform: scale(1);
    transition: all 0.3s;
}

.container img, .disabled img {
    width: 2rem;
    object-fit: contain;
}
