@keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    margin-top: 1%;
    width: 80%;
    margin: auto;
    text-align: center;
    animation: fade 0.5s;
}

.logo {
    width: 22rem;
}

.container h1 {
    font-size: 3rem;
    margin-bottom: 5rem;
}