.container {
    display: flex;
    padding-top: 1%;
    width: 95%;
    margin: auto;
}

.div1 {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    gap: 2rem;
}

.div2 {
    width: 40%;
}

.div3 {
    width: 22%;
}

.profilePic {
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info span {
    opacity: 0.5;
    margin-bottom: 2rem;
}

.info p {
    font-size: 1.2rem;
    margin-bottom: 5rem;
}