@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap");
$main_red: #ab4967;

.aibutton {
  position: relative;
  padding: 3.5rem 2rem;
  padding-left: 10rem;
  border: none;
  border-radius: 10px;
  background-color: $main_red;
  color: white;
  font-family: "Inter", sans-serif;
  width: 45%;
  transition: all 0.3s;
  cursor: pointer;
}

.aibutton:hover {
  transform: translateY(-0.2rem);
  filter: brightness(110%);
  transition: all 0.3s;
}

.aibutton img {
  width: 7.5rem;
  object-fit: contain;
  top: -1rem;
  left: 1rem;
  position: absolute;
}
