.container {
  position: relative;
}

.blackButtons {
  position: absolute;
  top: 4.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.blackButtonsBottom {
  position: absolute;
  top: 28.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
