$main_red: #ab4967;

.container,
.doneContainer {
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  cursor: grab;
  color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  outline: none;
  min-height: 5rem;
}

.doneContainer {
  background-color: #47e5bc;
}

.check {
  width: 4rem;
  position: absolute;
  right: 1rem;
}

.container h4 {
  color: $main_red;
}

.container span,
.doneContainer span {
  font-size: 0.9rem;
}
