$main_red: #ab4967;

.chord {
  height: 2rem;
  background-color: $main_red;
  border-radius: 10px;
  text-align: center;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chord span {
  font-weight: 500;
}

.chord:hover {
  cursor: pointer;
  background-color: rgb(222, 222, 222);
  color: black;
}

.chordActive {
  @extend .chord;
  background-color: #47e5bc;
  color: black;
}

.chordActive:hover {
  background-color: #8bf4d8;
}

.chordActive span {
  color: black;
}
