@keyframes fadeIn {
    0% {
      transform: scale(1.1);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    background-color: #47E5BC;
    padding: 2rem;
    animation: fadeIn 0.5s ease-in-out;
    border-radius: 10px;
    white-space: pre-wrap;
}

.popup span {
    font-weight: 600;
    font-size: 1rem;
}

.popup img {
    width: 1rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}