$main_red: #AB4967;

.profileimg {
    width: 3rem;
    object-fit: contain;
    border-radius: 10px;
    border: solid $main_red 2px;
    transition: all 0.3s;
}

.profileimg:hover {
    cursor: pointer;
    filter: brightness(130%);
    transition: all 0.3s;
}