$main_red: #AB4967;

.profileimg {
    width: 3rem;
    object-fit: contain;
    border-radius: 10px;
    border: solid $main_red 2px;
    transition: all 0.3s;
}

.profileimg:hover {
    cursor: pointer;
    filter: brightness(130%);
    transition: all 0.3s;
}

.container {
    position: relative;;
}

.dropdownOpen {
    opacity: 1;
    visibility: visible;
    position: absolute;
    background-color: #D49BAE;
    color: white;
    right: 0;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 15rem;
    border-radius: 10px;
    // box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    padding: 1.2rem;
    z-index: 4;
    box-shadow: 2px 2px 5px #656565;
    transition: all 0.2s ease-out;
}


.dropdownHidden {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 0;
    width: 15rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 1.2rem;
    margin-top: 1rem;
    color: white;
    z-index: 4;
    transform: translateX(-10%) scale(1.1);
    transition: all 0.2s ease-out;
}

.actionbutton {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    background-color: $main_red;
    color: white;
    font-size: 1rem;
    transition: all 0.3s;
}

.actionbutton:hover {
    background-color:  #D49BAE;
    cursor: pointer;
    transition: all 0.3s;
}