$main_red: #AB4967;

.ntfimg {
    width: 2.2rem;
    object-fit: contain;
    transition: all 0.3s;
}

.container {
    position: relative;
}

.loading {
    width: 5rem;
    text-align: center;
    margin: auto;
}

.ntfimg:hover {
    cursor: pointer;
    filter: brightness(130%);
    transition: all 0.3s;
}

.dropdownOpen {
    opacity: 1;
    visibility: visible;
    position: absolute;
    background-color: #D49BAE;
    color: white;
    right: 0;
    margin-top: 1rem;
    display: flex;
    width: 25rem;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 1.2rem;
    z-index: 1;
    box-shadow: 2px 2px 10px #cdcdcd;
    transition: all 0.2s ease-out;
}

.dropdownHidden {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 0;
    width: 25rem;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 1.2rem;
    margin-top: 1rem;
    color: white;
    z-index: 1;
    transform: translateX(-10%) scale(1.1);
    transition: all 0.2s ease-out;
}

.notificationsContainer h2 {
    margin-bottom: 1rem;
}

.noNotf {
    opacity: 0.5;
}

.notification {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #FFE8D1;
    padding: 1rem;
    color: black;
    border-radius: 10px;
    align-items: center;
    transition: all 0.3s;
}

.notification h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.notification img {
    width: 4rem;
    object-fit: contain;
    border-radius: 10px;
}

.notification span {
    font-size: 0.8rem;
}

.notification:hover {
    filter: brightness(110%);
    cursor: pointer;
    transition: all 0.3s;
}